You are a data analyst at a school district, and you have been given a dataset containing the test scores of students from a particular school. Your task is to perform an analysis of the data to gain insights into student performance.

In [6]:
import numpy as np
import pandas as pd
exam=pd.read_csv('D:\data spark\ml\statistics\exams.csv')
exam

    gender  math_score  reading_score  writing_score
0   female          57             59             59
1   female          57             67             72
2   female          52             69             64
3   female          66             73             77
4     male          81             73             65
..     ...         ...            ...            ...
95  female          82             86             89
96  female          42             46             47
97    male          63             59             55
98  female          47             62             56
99    male          71             58             62

[100 rows x 4 columns]

In [9]:
avg_math_score=np.average(exam.math_score)
print("\nAverage math score =",avg_math_score)
avg_reading_score=np.average(exam.reading_score)
print("\nAverage reading score =",avg_reading_score)
avg_writing_score=np.average(exam.writing_score)
print("\nAverage writing score =",avg_writing_score)

Average math score = 68.23

Average reading score = 69.7

Average writing score = 68.68

In [10]:
std_math=np.std(exam.math_score)
std_reading=np.std(exam.reading_score)
std_writing=np.std(exam.writing_score)
print("\nStandard deviation for math is",std_math)
print("\nStandard deviation for reading is",std_reading)
print("\nStandard deviation for writing is",std_writing)

Standard deviation for math is 15.034530255382107

Standard deviation for reading is 13.453995689013729

Standard deviation for writing is 13.797738945204031

In [27]:
def percent_(data):
    x=0
    for i in data:
        if i>=50:
            x=x+1
    percentage=(x/100)*100  
    return percentage

In [28]:
percent_(exam.math_score)

87.0

In [29]:
percent_(exam.reading_score)

92.0

In [30]:
percent_(exam.writing_score)

94.0

In [32]:
male_math_scores=exam[exam['gender'] == 'male']['math_score']
female_math_scores = exam[exam['gender'] == 'female']['math_score']
print("\nMale Scores:", male_math_scores)
print("\nFemale Scores:", female_math_scores)

Male Scores: 4     81
5     43
8     70
10    83
11    80
12    62
13    81
18    89
20    73
21    80
23    94
24    69
25    91
27    67
28    61
30    70
33    44
34    82
35    56
37    36
40    41
43    95
45    75
48    61
50    70
51    67
52    62
53    71
54    77
55    63
56    55
57    98
58    80
59    78
60    64
63    71
64    84
65    88
66    83
67    91
71    60
72    65
73    84
75    98
76    69
77    84
79    71
80    61
81    81
82    72
87    29
93    84
94    83
97    63
99    71
Name: math_score, dtype: int64

Female Scores: 0     57
1     57
2     52
3     66
6     69
7     75
9     75
14    64
15    45
16    46
17    75
19    61
22    72
26    90
29    58
31    68
32    77
36    53
38    55
39    34
41    80
42    81
44    44
46    84
47    69
49    59
61    86
62    63
68    56
69    50
70    50
74    74
78    75
83    57
84    69
85    58
86    80
88    80
89    49
90    54
91    75
92    49
95    82
96    42
98    47
Name: math_score, dtype: int64

In [33]:
avg_male_score=np.average(male_math_scores)
print("\nMale average math score is ",avg_male_score)
avg_female_score=np.average(female_math_scores)
print("\nFemale average math score is ",avg_female_score)

Male average math score is  72.01818181818182

Female average math score is  63.6

H0: There is no significant difference in the average math scores between male and female students. 
H1: There is a significant difference in the average math scores between male and female students. 
 It is a two taled problem
 here we use t-test

In [34]:
from scipy.stats import ttest_ind
ttest,pval = ttest_ind(male_math_scores,female_math_scores,)
print("\np-value",pval)
if pval <0.025:# assuming significance level is 5%
  print("We will reject the null hypothesis")
else:
  print("We have failed to reject the null hypothesis")

p-value 0.005010885573497083
We will reject the null hypothesis

Here we reject the null hypothesis therefore we conclude that there is a significant difference in the average math scores between male and female students.